#!/bin/bash
# sql_exporter
# chkconfig: 345 20 80
# description: sql_exporter
# processname: sql_exporter

DAEMON={{ sql_exporter.bin_dir }}/sql_exporter
DAEMONOPTS="--collector.textfile.directory={{ sql_exporter.config_dir }}/textfile"
{% if grains['virtual'] == 'LXC' -%}
DAEMONOPTS="$DAEMONOPTS --no-collector.cpu"
{% else -%}
DAEMONOPTS="$DAEMONOPTS --collector.ntp"
{% endif -%}
{% if grains['init'] == 'systemd' -%}
DAEMONOPTS="$DAEMONOPTS --collector.systemd"
{% endif -%}
{% if sql_exporter.config.enabled_collector != 'None' -%}
{% for collector, _ in sql_exporter.config.enabled_collector.items() -%}
DAEMONOPTS="$DAEMONOPTS --collector.{{collector}}"
{% endfor -%}
{% endif -%}
{% if sql_exporter.config.disabled_collector != 'None' -%}
{% for collector, _ in sql_exporter.config.disabled_collector.items() -%}
DAEMONOPTS="$DAEMONOPTS --no-collector.{{collector}}"
{% endfor %}
{% endif -%}

NAME=sql_exporter
DESC="The node exporter"
PIDFILE=/var/run/$NAME.pid
SCRIPTNAME=/etc/init.d/$NAME

export GOMAXPROCS='{{ sql_exporter.gomaxprocs }}'

case "$1" in
start)
  printf "%-50s" "Starting $NAME..."
  PID=`nohup $DAEMON $DAEMONOPTS > /var/log/sql_exporter 2>&1 & echo $!`
  echo "Saving PID" $PID " to " $PIDFILE
        if [ -z $PID ]; then
            printf "%s\n" "Fail"
        else
            echo $PID > $PIDFILE
            printf "%s\n" "Ok"
        fi
;;
status)
        printf "%-50s" "Checking $NAME..."
        if [ -f $PIDFILE ]; then
            PID=`cat $PIDFILE`
            if [ -z "`ps axf | grep ${PID} | grep -v grep`" ]; then
                printf "%s\n" "Process dead but pidfile exists"
            else
                echo "Running"
            fi
        else
            printf "%s\n" "Service not running"
        fi
;;
stop)
        printf "%-50s" "Stopping $NAME"
            PID=`cat $PIDFILE`
        if [ -f $PIDFILE ]; then
            kill -HUP $PID
            printf "%s\n" "Ok"
            rm -f $PIDFILE
        else
            printf "%s\n" "pidfile not found"
        fi
;;

restart)
    $0 stop
    $0 start
;;

*)
        echo "Usage: $0 {status|start|stop|restart}"
        exit 1
esac
