[Unit]
Description=sql_exporter for delivering node metrics for Prometheus
Requires=network-online.target
After=network-online.target

[Service]
Restart=on-failure
StandardOutput=journal
StandardError=journal
User={{ sql_exporter.service_user }}
Group={{ sql_exporter.service_group }}
Environment=GOMAXPROCS={{ sql_exporter.gomaxprocs }}
ExecStart={{ sql_exporter.bin_dir }}/sql_exporter --config.file {{ sql_exporter.config_dir }}/{{ sql_exporter.config_file }} \
--web.listen-address {{ sql_exporter.listen_address }} \
--web.metrics-path {{ sql_exporter.metrics_path }}
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
